data_dir: "/var/lib/vector"

sources:
  demo_logs:
    type: file
    include:
      - /var/log/*.log

sinks:
  controle:
    type: console
    inputs:
      - demo_logs
    encoding:
      codec: json
